<h2 class="text-center "><u> Reactive Forms</u></h2>
<h3 class="pb-4 text-center pt-3">Login and Signup Form :-</h3>
<section class="vh-100" style="background-color:#ADD8E6;">
    <div class="container py-5 h-80">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-9">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://w0.peakpx.com/wallpaper/893/819/HD-wallpaper-man-laptop-code-hacker-programmer-technology.jpg"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">


                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account
                                    </h5>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="username">Username</label>
                                        <input type="text" id="username" formControlName="username"
                                            class="form-control" />
                                            <div style="height: 5px;">
                                        <small class="text-danger" *ngIf="(myForm.get('username')!.dirty || myForm.get('username')!.touched) && myForm.get('username')!.invalid">
                                            Please enter your username.
                                        </small>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="pwd">Password</label>
                                        <input type="password" id="pwd" formControlName="pwd" class="form-control "
                                            required />
                                            <div style="height: 5px;">
                                        <small class=" text-danger" *ngIf="(myForm.get('pwd')!.dirty || myForm.get('pwd')!.touched) &&myForm.get('pwd')!.invalid">
                                            Please enter your password.
                                        </small>
                                    </div>
                                </div>
                                


                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-block"  type="submit" 
                                            [disabled]="myForm.invalid" [routerLink]="['/dashboard']">Login</button>
                                    </div>



                                    <a class="small text-muted" href="#!">Forgot password?</a>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? 
                                        <button (click)="redirect()"
                                            style="color: #393f81; text-decoration: none; text-decoration: underline;"  style="outline: none; border: 0ch;">Register here</button></p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
